/* 
    Document   : timeline_graphic
    Created on : Nov 7, 2013, 10:41:58 PM
    Author     : langstonmacdiarmid
    Description:
        Purpose of the stylesheet follows.
*/
#event
{
background-color:red;    
}

#event:hover
{
    cursor:pointer;
}

